
doctype html
html(lang="en")
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        title Stech
        link(rel='shortcut icon' type='image/png' href='/images/logos/logo.jpeg')
        link(rel='stylesheet' href='/css/styles.min.css')
        link(rel='stylesheet' href=`https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css`
            integrity='sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA=' crossorigin='anonymous')
    body
        script(src='/stylesheets/bootstrap/js/bootstrap.js')
        block content
    script(src='/libs/jquery/dist/jquery.min.js')
    script(src='/libs/bootstrap/dist/js/bootstrap.bundle.min.js')
    script(src='/js/sidebarmenu.js')
    script(src='/js/app.min.js')
    script(src='/libs/apexcharts/dist/apexcharts.min.js')
    script(src='/libs/simplebar/dist/simplebar.js')
    script(src='/js/utils.js')
    script(src=`https://unpkg.com/axios/dist/axios.min.js`)
