extends layout

block content
    #main-wrapper.page-wrapper(data-layout='vertical' data-navbarbg='skin6' data-sidebartype='full' data-sidebar-position='fixed' data-header-position='fixed')
        // Sidebar Start
        aside.left-sidebar
            // Sidebar scroll
            div
                .brand-logo.d-flex.align-items-center.justify-content-between
                    a.text-nowrap.logo-img(href='/stech.manager/home')
                        img(src='/images/logos/logo.jpeg' width='180' alt='')
                    #sidebarCollapse.close-btn.d-xl-none.d-block.sidebartoggler.cursor-pointer
                        i.ti.ti-x.fs-8
                // Sidebar navigation
                nav.sidebar-nav.scroll-sidebar(data-simplebar='')
                    ul#sidebarnav
                        li.nav-small-cap
                            i.ti.ti-dots.nav-small-cap-icon.fs-4
                            span.hide-menu Home
                        li.sidebar-item
                            a.sidebar-link(href='/stech.manager/home' aria-expanded='false')
                                span
                                    i.ti.ti-layout-dashboard
                                span.hide-menu Dashboard
                        li.nav-small-cap
                            i.ti.ti-dots.nav-small-cap-icon.fs-4
                            span.hide-menu Manager
                        li.sidebar-item
                            a.sidebar-link(href='/stech.manager/product' aria-expanded='false')
                                span
                                    i.ti.ti-article
                                span.hide-menu Product
                        li.sidebar-item
                            a.sidebar-link(href='/stech.manager/category' aria-expanded='false')
                                span
                                    i.ti.ti-category
                                span.hide-menu Category
                        li.sidebar-item
                            a.sidebar-link(href='/stech.manager/cart' aria-expanded='false')
                                span
                                    i.ti.ti-shopping-cart
                                span.hide-menu Cart
                        li.sidebar-item
                            a.sidebar-link(href='/stech.manager/chat' aria-expanded='false')
                                span
                                    i.ti.ti-message-chatbot
                                span.hide-menu Chat
                        li.sidebar-item
                            a.sidebar-link(href='/stech.manager/notification' aria-expanded='false')
                                span
                                    i.ti.ti-notification
                                span.hide-menu Notification
                        li.sidebar-item
                            a.sidebar-link(href='/stech.manager/customer' aria-expanded='false')
                                span
                                    i.ti.ti-cards
                                span.hide-menu Customer
                        li.sidebar-item
                            a.sidebar-link(href='/stech.manager/order' aria-expanded='false')
                                span
                                    i.ti.ti-file-description
                                span.hide-menu Order
                        li.sidebar-item
                            a.sidebar-link(href='/stech.manager/voucher' aria-expanded='false')
                                span
                                    i.ti.ti-file-description
                                span.hide-menu Voucher
                        li.sidebar-item
                            a.sidebar-link(href='/stech.manager/banner' aria-expanded='false')
                                span
                                    i.ti.ti-file-import
                                span.hide-menu Banner
                        li.nav-small-cap
                            i.ti.ti-dots.nav-small-cap-icon.fs-4
                            span.hide-menu AUTH
                        li.sidebar-item
                            a.sidebar-link(href='/stech.manager/type_login' aria-expanded='false')
                                span
                                    i.ti.ti-login
                                span.hide-menu Login
                        li.sidebar-item
                            a.sidebar-link(href='/stech.manager/add' aria-expanded='false')
                                span
                                    i.ti.ti-user-plus
                                span.hide-menu Add Admin
                // End Sidebar navigation
            // End Sidebar scroll
        // Sidebar End
        // Main wrapper
        .body-wrapper
            // Header Start
            header.app-header
                nav.navbar.navbar-expand-lg.navbar-light
                    ul.navbar-nav
                        li.nav-item.d-block.d-xl-none
                            a#headerCollapse.nav-link.sidebartoggler.nav-icon-hover(href='javascript:void(0)')
                                i.ti.ti-menu-2
                    #navbarNav.navbar-collapse.justify-content-end.px-0
                        ul.navbar-nav.flex-row.ms-auto.align-items-center.justify-content-end
                            a.btn.btn-outline-primary(data-bs-toggle='modal' id='openModalCreateNotifi') Create Notification
                            li.nav-item.dropdown
                                a#drop2.nav-link.nav-icon-hover(href='javascript:void(0)' data-bs-toggle='dropdown' aria-expanded='false')
                                    img.rounded-circle(src='/images/logos/logo.jpeg' alt='' width='35' height='35')
                                .dropdown-menu.dropdown-menu-end.dropdown-menu-animate-up(aria-labelledby='drop2')
                                    .message-body
                                        a.d-flex.align-items-center.gap-2.dropdown-item(href='/stech.manager/profile')
                                            i.ti.ti-user.fs-6
                                            p.mb-0.fs-3 My Profile
                                        a.d-flex.align-items-center.gap-2.dropdown-item(href='')
                                            i.ti.ti-mail.fs-6
                                            p.mb-0.fs-3 My Account
                                        a.d-flex.align-items-center.gap-2.dropdown-item(href='javascript:void(0)')
                                            i.ti.ti-list-check.fs-6
                                            p.mb-0.fs-3 My Task
                                        a#logout.btn.btn-outline-primary.mx-3.mt-2.d-block(href='/stech.manager/login') Logout
            // Header End
            .container-fluid
                form#searchForm(action='javascript:void(0)', onsubmit='return false;')
                    .input-group.m-3
                        input#searchInput.form-control(type='text', name='query', placeholder='Enter your search query...' oninput='searchNotifications()')
                        button#searchButton.btn.btn-outline-secondary(type='button') Search
                .row
                    table.table.table-striped.align-middle.table-nowrap
                        thead
                            tr
                                th.text-center Image
                                th.text-center Title
                                th.text-start Content
                                th.text-center Date
                                th.text-center Action
                        tbody
                            each notification in notifications
                                tr
                                    td(style='width:150px')
                                        .avatar-lg.me-4
                                            img.img-fluid.rounded(src=notification.img,style='width:100px; height: 90px;', alt='')
                                    td(style='width: 250px;')
                                        div
                                            h5.font-size-15.text-center(style='font-size: 14px;')
                                                a.text-dark(href='ecommerce-product-detail.html')= notification.title
                                    td(style='width: 550px;')
                                        div
                                            h5.font-size-18.text-start(style='font-size: 14px;')
                                                a.text-dark(href='ecommerce-product-detail.html')= notification.content
                                    td(style='width: 200px;')
                                        div
                                            h5.font-size-18.text-center(style='font-size: 14px;')
                                                a.text-dark(href='ecommerce-product-detail.html')= notification.create_time

                                    td
                                        .dropdown.text-center
                                            a.text-muted.dropdown-toggle.font-size-20(href='#', role='button', data-bs-toggle='dropdown', aria-haspopup='true')
                                                i.bx.text-center
                                            .dropdown-menu.dropdown-menu-end
                                                a.dropdown-item( class = "openModalUpdateNotifi" data-id = notification._id data-title = notification.title data-img = notification.img data-content = notification.content data-bs-toggle="modal") Sửa thông báo
                                                //a.dropdown-item( class = "openModalDeleteNotifi" data-id = notification._id data-bs-toggle="modal") Xóa thông báo
                //- End Pagination
                .py-6.px-6.text-center
                    p.mb-0.fs-4
                        | Design and Developed by&nbsp;
                        a.pe-1.text-primary.text-decoration-underline(href='https://trinh-dien-203.onrender.com' target='_blank') STECH

            #DeleteNotificationModal.modal(tabindex='-1')
                .modal-dialog
                    .modal-content
                        .modal-header
                            h5.modal-title Warning!
                        .modal-body
                            p Bạn có chắc chắn muốn xóa?
                            .modal-body
                                form(action="/stech.manager/deleteNotification" method="post")
                                    .mb-3.d-none
                                        label.form-label(for='title')
                                        input#idNotifiDelete.form-control(name='NotifiId', type='text', aria-describedby='textHelp')
                                    button.btn.btn-dark(type='button' data-bs-dismiss='modal') Quay lại
                                    button.ms-3.btn.btn-danger(type='submit') Đồng ý
            #CreateNotificationModal.modal.fade
                .modal-dialog
                    .modal-content
                        .modal-header
                            h5.modal-title Tạo thông báo
                        .modal-body
                            form(action="/stech.manager/createNotification" method="post" enctype='multipart/form-data')
                                .mb-3
                                    label.form-label(for='title') Title
                                    input#title.form-control(name='title' placeholder='Nhập Title thông báo', type='text', aria-describedby='textHelp' required)
                                .mb-3
                                    label.form-label(for='content') Content
                                    input#content.form-control(name='content' type='textarea', placeholder='Thể loại thông báo', aria-describedby='textHelp' required)
                                .mb-3
                                    label.form-label(for='content') Image
                                    input#img_cover.form-control(name='img' type='file'  accept='image/*')
                                button.mt-3.btn.btn-dark(type='button' data-bs-dismiss='modal') Quay lại
                                button.mt-3.ms-2.btn.btn-outline-dark-light(type='submit') Save
            #UpdateNotificationModal.modal.fade
                .modal-dialog
                    .modal-content
                        .modal-header
                            h5.modal-title Cập nhật thông báo
                        .modal-body
                            form(action="/stech.manager/updateNotification" method="post" enctype='multipart/form-data')
                                .mb-3.d-none
                                    label.form-label(for='upTitle')
                                    input#idUpdate.form-control(name='notificationId', type='text', aria-describedby='textHelp')
                                .mb-3
                                    label.form-label(for='upTitle') Title
                                    input#upTitle.form-control(name='title' placeholder='Nhập Title thông báo', type='text', aria-describedby='textHelp')
                                .mb-3
                                    label.form-label(for='upContent') Content
                                    input#upContent.form-control(name='content' type='textarea', placeholder='Thể loại thông báo', aria-describedby='textHelp')
                                .mb-3
                                    label.form-label(for='content') Image
                                    input.form-control(name='img' type='file'  accept='image/*')
                                button.mt-3.btn.btn-dark(type='button', data-bs-dismiss='modal') Hủy
                                button.mt-3.ms-2.btn.btn-outline-dark-light(type='submit') Save
    script(src='/js/notification.js')
    script.
        function removeDiacritics(str) {
            return str.normalize("NFD").replace(/[\u0300-\u036f]/g, "");
        }

        function searchNotifications() {
            const query = removeDiacritics(document.getElementById('searchInput').value.toLowerCase());
            const notificationRows = document.querySelectorAll('tbody tr');

            notificationRows.forEach(function (row) {
                const notificationTitle = removeDiacritics(row.querySelector('td:first-child a').innerText.toLowerCase());
                const notificationContent = removeDiacritics(row.querySelector('td:nth-child(2) a').innerText.toLowerCase());

                // Nếu không có thông tin tìm kiếm hoặc tìm thấy kết quả, hiển thị lại dòng
                if (!query || notificationTitle.includes(query) || notificationContent.includes(query)) {
                    row.style.display = 'table-row';
                } else {
                    row.style.display = 'none';
                }
            });
        }